QTreeView::branch:has-children:!has-siblings:closed,QTreeView::branch:closed:has-children:has-siblings
{
    border-image: none;
    image: url(":/img/plus.jpg");
}
QTreeView::branch:open:has-children:!has-siblings,QTreeView::branch:open:has-children:has-siblings
{
    border-image: none;
    image: url(":/img/minus.jpg");
}
